@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: white;
  --black: black;
  --off-black: #131210f7;
  --dark-off-black: #131210;
  --orange: #ff8b3d;
  --red: #d93131;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
}

/* UNIVERSAL */

.section-heading {
  font-size: 4rem;
  font-weight: 500;
  letter-spacing: 0.15rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.white-text {
  color: var(--white);
}

.orange-text {
  color: var(--orange);
}

.paragraph-text {
  font-size: 1.7rem;
  font-weight: 300;
  margin-bottom: 2rem;
  width: 70%;
  line-height: 1.8;
}

/* HEADER */

header {
  background-image: url("./assets/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

/* NAV */

nav {
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.5rem 2rem;
  width: 100%;
  z-index: 100;
}

.nav-logo {
  cursor: pointer;
  width: 70px;
  opacity: 0.9;
}

.nav-link {
  cursor: pointer;
  font-size: 1.6rem;
  text-transform: uppercase;
  margin: 0 1.5rem;
  transition: 0.9s;
}

.nav-link:hover {
  color: var(--orange);
}

.nav-button {
  background-color: transparent;
  border: 2px solid var(--orange);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  color: var(--white);
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  width: 140px;
  height: 35px;
  margin-left: 2rem;
  text-transform: uppercase;
  text-shadow: 1px 0px 2px rgba(0, 0, 0, 1);
  transition: 0.8s;
}

.nav-button:hover {
  background-color: var(--orange);
}

/* BANNER */

#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 3rem;
}

.banner-heading {
  color: rgba(0, 0, 0, 0.3);
  -webkit-text-stroke: 1px #fff;
  font-size: 8rem;
  text-align: center;
  text-transform: uppercase;
  text-shadow: rgba(0, 0, 0, 0.6) 0px 5px 15px;
}

.banner-link,
.form-button,
.photo-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--white);
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  font-size: 1.7rem;
  font-weight: 400;
  margin-top: 3rem;
  text-transform: uppercase;
  width: 200px;
  height: 45px;
  transition: 1s;
}

.banner-link:hover,
.form-button:hover,
.photo-button:hover {
  border: 2px solid var(--orange);
  background-color: rgba(0, 0, 0, 0.6);
  color: var(--orange);
}

/* ABOUT */

#about,
#contact {
  background-color: var(--off-black);
  display: flex;
  flex-direction: row;
  padding: 10rem 0;
}

#about {
  height: 650px;
}

.about-photo-container,
.contact-form-container {
  display: flex;
  justify-content: flex-end;
  width: 50dvw;
}

.about-photo {
  border-radius: 2px;
  max-width: 80%;
  margin-right: 3rem;
  object-fit: cover;
}

.about-text-container,
.contact-text-container {
  width: 50dvw;
  margin-left: 2rem;
}

.text-link {
  cursor: pointer;
  font-size: 1.5rem;
  text-decoration: underline;
  transition: 0.9s;
}

.text-link:hover {
  color: var(--white);
}

.cup-photo {
  margin-right: 1rem;
}

.about-image-link-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* PHOTO SECTION */

.photo-section {
  background-image: url("./assets/closeup.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35dvh;
  max-width: 100dvw;
}

.photo-section-text {
  text-align: center;
  font-weight: 300;
  font-size: 4rem;
  opacity: 0.9;
  text-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}

/* MENU */

#menu {
  background-color: var(--off-black);
  height: 750px;
  padding: 10rem 0 7rem;
}

#menu h2 {
  text-align: center;
}

.menu-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
}

.menu-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}

/* MENU SECTION */

.menu-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
}

.menu-title-price-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.menu-item-title {
  font-size: 1.6rem;
  font-weight: 500;
}

.menu-item-price {
  font-size: 1.4rem;
  text-align: right;
}

.menu-hr {
  margin: 0.2rem auto 1.5rem;
  width: 500px;
}

/* CONTACT */

.contact-photo-section {
  background-image: url("./assets/closeup.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 35dvh;
  max-width: 100dvw;
}

.thank-you-container {
  background-color: var(--dark-off-black);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 3rem;
  margin-right: 3rem;
}

.thank-you-heading {
  -webkit-text-stroke: 0.8px #fff;
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

.thank-you-text {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
}

form {
  background-color: var(--dark-off-black);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 3rem;
  margin-right: 3rem;
}

input,
textarea {
  border: 0.2px solid var(--white);
  border-radius: 8px;
  background-color: var(--black);
  color: var(--white);
  font-family: sans-serif;
  font-size: 1.6rem;
  margin-bottom: 1.8rem;
  padding: 0.8rem;
}

form button {
  margin: 0 auto;
}

.hours-container {
  width: 300px;
}

.small-heading {
  font-weight: 500;
  font-size: 1.7rem;
  margin-bottom: 1rem;
  text-decoration: underline;
}

.hours-item {
  color: var(--white);
  font-size: 1.4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.hours-hr {
  width: 100%;
  margin: 0 auto 1.2rem;
}

.error-span {
  color: var(--red);
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

/* MAP */

.map-container {
  width: 100%;
  height: 280px;
}

/* SOCIAL LINKS */

.social-link {
  cursor: pointer;
  font-size: 2.1rem;
  color: var(--white);
  margin: auto 0.6rem;
  transition: 0.5s;
}

.social-link:hover {
  color: var(--orange);
}

.social-links-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* FOOTER */

footer {
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;
}

.footer-text {
  font-weight: 500;
  font-size: 1.5rem;
  margin: 0.5rem auto 1rem;
}

/* MEDIA */

@media screen and (max-width: 1200px) {
  form,
  .thank-you-container {
    width: 80%;
  }
}

@media screen and (max-width: 1115px) {
  .paragraph-text {
    width: 80%;
  }
}

@media screen and (max-width: 1100px) {
  .contact-text-container {
    width: 40dvw;
  }
}

@media screen and (max-width: 1000px) {
  #banner {
    margin-top: 10rem;
  }

  .about-photo {
    max-width: 85%;
  }

  .paragraph-text,
  .hours-container {
    width: 85%;
  }
}

@media screen and (max-width: 850px) {
  .paragraph-text,
  .hours-container {
    width: 90%;
  }
}

@media screen and (max-width: 800px) {
  #about {
    height: 700px;
  }
}

@media screen and (max-width: 700px) {
  #about,
  #contact {
    flex-direction: column;
  }

  #about,
  #contact,
  #menu {
    padding: 6rem 1rem;
  }

  #about {
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  #contact {
    flex-direction: column-reverse;
  }

  .about-photo-container,
  .about-text-container,
  .contact-text-container,
  .contact-form-container,
  .thank-you-container {
    width: 90%;
  }

  .about-photo-container {
    justify-content: center;
  }

  .about-text-container {
    margin-top: 2rem;
    margin-left: 0;
  }

  .about-photo {
    margin-right: 0;
  }

  .contact-text-container,
  .about-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact-text-container {
    margin-bottom: 2rem;
  }

  .paragraph-text {
    text-align: center;
  }

  .hours-container {
    width: 75%;
    margin-bottom: 2rem;
  }

  footer .nav-logo {
    width: 50px;
  }
}

/* HAMBURGER IMPLEMENTED */

@media screen and (max-width: 650px) {
}

@media screen and (max-width: 550px) {
  #menu,
  #contact {
    padding-top: 4rem;
  }

  .menu-section-container {
    width: 90%;
  }

  .menu-item-container,
  .menu-hr {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  #contact {
    justify-content: center;
    align-items: center;
  }

  .contact-form-container {
    width: 90%;
    justify-content: center;
  }

  .contact-text-container {
    margin-left: 0;
  }

  form,
  .thank-you-container {
    margin-right: 0;
    width: 100%;
  }
}

@media screen and (max-width: 485px) {
  #banner {
    margin-top: 7rem;
  }

  .banner-heading {
    font-size: 7rem;
  }

  .photo-section-text {
    font-size: 3.6rem;
  }

  #menu {
    height: 800px;
  }

  .menu-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menu-list .nav-link {
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-width: 400px) {
  .banner-heading {
    font-size: 6rem;
  }

  .paragraph-text {
    font-size: 1.6rem;
    line-height: 1.7;
  }
}

@media screen and (max-width: 305px) {
  .photo-section-text {
    font-size: 3.2rem;
  }

  .menu-item-title {
    font-size: 1.4rem;
  }

  .menu-item-price {
    font-size: 1.2rem;
  }

  .contact-text-container {
    width: 95%;
  }

  .hours-container {
    width: 85%;
  }

  form {
    padding: 1rem;
  }

  .form-button {
    margin-top: 1rem;
  }
}
