* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: white;
  --black: black;
}

html {
  font-size: 62.5%;
}

/* HEADER */

header {
  background-image: url("./assets/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100dvh;
}

/* NAV */

nav {
  background-color: rgba(var(--black), 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.nav-link {
  color: var(--white);
}

/* FOOTER */

footer {
  background-color: var(--black);
}
